.home_container {
  width: 100vw;
  padding-bottom: 200px;
}

.home_hero {
  display: flex;
  justify-content: center;
  position: relative;
}
.home_hero img {
  width: 55%;
}

.home_title {
  font-size: 22vh;
  margin-top: 160px;
  position: absolute;
  left: 210px;
  color: #0a0b0c;
}

.home_sec-title {
  font-size: 22vh;
  margin-top: 160px;
  position: absolute;
  right: 200px;
  color: #0a0b0c;
}

.home_bottom {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 0px;
}
.home_bottom img {
  width: 120px;
  height: 120px;
}

.home_spec-container {
  display: flex;
}
.home_spec {
  padding-left: 30px;
}
.home_spec-info {
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  color: #0a0b0c;
}
.home_spec-title {
  font-size: 2vh;
  text-align: center;
  font-weight: normal;
  color: #fd4500;
}
.home_spec-line {
  border: 1px solid #c4c4c4;
  margin-left: 30px;
  margin-top: 35px;
  height: 10vh;
}
.home_tag {
  font-size: 3.5vh;
  font-weight: bold;
  color: #fd4500;
  margin-bottom: 50px;
  transform: rotate(90deg);
}
